<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}

<body class="bob">
<div class="bon" id="app-growl"></div>

{% include "nav.html" %}

<div class="cd fade" id="msgModal" tabindex="-1" role="dialog" aria-labelledby="bpq" aria-hidden="true">
    <div class="modal-dialog">

        {% include "messages.html" %}

    </div>
</div>

<div class="cd fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="bpr" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="d">
                <h4 class="modal-title">Users</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <div class="modal-body afx">
                <div class="axw">
                    <ul class="bow cj ca">
                        <li class="b">
                            <div class="rv ady">
                                <img class="bos vb yb aff" src="img/avatar-fat.jpg">
                                <div class="rw">
                                    <button class="cg ns ok acx">
                                        <span class="c bps"></span> Follow
                                    </button>
                                    <strong>Jacob Thornton</strong>
                                    <p>@fat - San Francisco</p>
                                </div>
                            </div>
                        </li>
                        <li class="b">
                            <div class="rv ady">
                                <img class="bos vb yb aff" src="img/avatar-dhg.png">
                                <div class="rw">
                                    <button class="cg ns ok acx">
                                        <span class="c bps"></span> Follow
                                    </button>
                                    <strong>Dave Gamache</strong>
                                    <p>@dhg - Palo Alto</p>
                                </div>
                            </div>
                        </li>
                        <li class="b">
                            <div class="rv ady">
                                <img class="bos vb yb aff" src="img/avatar-mdo.png">
                                <div class="rw">
                                    <button class="cg ns ok acx">
                                        <span class="c bps"></span> Follow
                                    </button>
                                    <strong>Mark Otto</strong>
                                    <p>@mdo - San Francisco</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="by aha ahl">
    <div class="dp">
        <div class="fj">
            <div class="pz bpi afo">
                <div class="qf" style="background-image: url(img/iceland.jpg);"></div>
                <div class="qa avz">
                    <a href="profile/index.html">
                        <img
                                class="bpj"
                                src="img/avatar-dhg.png">
                    </a>

                    <h6 class="qb">
                        <a class="boa" href="profile/index.html">Dave Gamache</a>
                    </h6>

                    <p class="afo">I wish i was a little bit taller, wish i was a baller, wish i had a girl… also.</p>

                    <ul class="bpk">
                        <li class="bpl">
                            <a href="#userModal" class="boa" data-toggle="modal">
                                Friends
                                <h6 class="aej">12M</h6>
                            </a>
                        </li>

                        <li class="bpl">
                            <a href="#userModal" class="boa" data-toggle="modal">
                                Enemies
                                <h6 class="aej">1</h6>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="pz vp vy afo">
                <div class="qa">
                    <h6 class="afh">About
                        <small>· <a href="#">Edit</a></small>
                    </h6>
                    <ul class="dc axg">
                        <li><span class="axc h ban aff"></span>Went to <a href="#">Oh, Canada</a>
                        <li><span class="axc h bnc aff"></span>Became friends with <a href="#">Obama</a>
                        <li><span class="axc h bfa aff"></span>Worked at <a href="#">Github</a>
                        <li><span class="axc h bfq aff"></span>Lives in <a href="#">San Francisco, CA</a>
                        <li><span class="axc h bgz aff"></span>From <a href="#">Seattle, WA</a>
                    </ul>
                </div>
            </div>

            <div class="pz vp vy afo">
                <div class="qa">
                    <h6 class="afh">Photos
                        <small>· <a href="#">Edit</a></small>
                    </h6>
                    <div data-grid="images" data-target-height="150">
                        <div>
                            <img data-width="640" data-height="640" data-action="zoom" src="img/instagram_5.jpg">
                        </div>

                        <div>
                            <img data-width="640" data-height="640" data-action="zoom" src="img/instagram_6.jpg">
                        </div>

                        <div>
                            <img data-width="640" data-height="640" data-action="zoom" src="img/instagram_7.jpg">
                        </div>

                        <div>
                            <img data-width="640" data-height="640" data-action="zoom" src="img/instagram_8.jpg">
                        </div>

                        <div>
                            <img data-width="640" data-height="640" data-action="zoom" src="img/instagram_9.jpg">
                        </div>

                        <div>
                            <img data-width="640" data-height="640" data-action="zoom" src="img/instagram_10.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fm">

            <ul class="ca bow box afo">

                <li class="rv b agz">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Message">
                        <div class="bpt">
                            <button type="button" class="cg ns yf">
                                <span class="h bao"></span>
                            </button>
                        </div>
                    </div>
                </li>

                <li class="rv b agz">
                    <img
                            class="bos vb yb aff"
                            src="img/avatar-dhg.png">
                    <div class="rw">
                        <div class="bpb">
                            <small class="acx axc">4 min</small>
                            <h6>Dave Gamache</h6>
                        </div>

                        <p>
                            Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod
                            semper. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio,
                            dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper.
                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        </p>

                        <div class="boy" data-grid="images">
                            <div style="display: none">
                                <img data-action="zoom" data-width="1050" data-height="700" src="img/unsplash_1.jpg">
                            </div>

                            <div style="display: none">
                                <img data-action="zoom" data-width="640" data-height="640" src="img/instagram_1.jpg">
                            </div>

                            <div style="display: none">
                                <img data-action="zoom" data-width="640" data-height="640" src="img/instagram_13.jpg">
                            </div>

                            <div style="display: none">
                                <img data-action="zoom" data-width="1048" data-height="700" src="img/unsplash_2.jpg">
                            </div>
                        </div>

                        <ul class="bow afa">
                            <li class="rv afh">
                                <img
                                        class="bos vb yb aff"
                                        src="img/avatar-fat.jpg">
                                <div class="rw">
                                    <strong>Jacon Thornton: </strong>
                                    Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue
                                    laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor
                                    fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed
                                    posuere consectetur est at lobortis.
                                </div>
                            </li>
                            <li class="rv">
                                <img
                                        class="bos vb yb aff"
                                        src="img/avatar-mdo.png">
                                <div class="rw">
                                    <strong>Mark Otto: </strong>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac
                                    cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet
                                    risus.
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="rv b agz">
                    <img
                            class="bos vb yb aff"
                            src="img/avatar-fat.jpg">
                    <div class="rw">
                        <div class="bpd">
                            <div class="bpb">
                                <small class="acx axc">12 min</small>
                                <h6>Jacob Thornton</h6>
                            </div>
                            <p>
                                Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis
                                dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient
                                montes, nascetur ridiculus mus. Morbi leo risus, porta ac consectetur ac, vestibulum at
                                eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                        </div>
                    </div>
                </li>

                <li class="rv b agz">
                    <img
                            class="bos vb yb aff"
                            src="img/avatar-mdo.png">
                    <div class="rw">
                        <div class="bpb">
                            <small class="acx axc">34 min</small>
                            <h6>Mark Otto</h6>
                        </div>

                        <p>
                            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
                            semper. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam
                            porta sem malesuada magna mollis euismod. Donec sed odio dui.
                        </p>

                        <div class="boy" data-grid="images">
                            <img style="display: none" data-width="640" data-height="640" data-action="zoom"
                                 src="img/instagram_3.jpg">
                        </div>

                        <ul class="bow">
                            <li class="rv">
                                <img
                                        class="bos vb yb aff"
                                        src="img/avatar-dhg.png">
                                <div class="rw">
                                    <strong>Dave Gamache: </strong>
                                    Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue
                                    laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor
                                    fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed
                                    posuere consectetur est at lobortis.
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="fj">
            <div class="alert ro alert-dismissible d-none vy" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <a class="rj" href="profile/index.html">Visit your profile!</a> Check your self, you aren't looking
                well.
            </div>

            <div class="pz afo d-none vy">
                <div class="qa">
                    <h6 class="afh">Sponsored</h6>
                    <div data-grid="images" data-target-height="150">
                        <img class="bos" data-width="640" data-height="640" data-action="zoom"
                             src="img/instagram_2.jpg">
                    </div>
                    <p><strong>It might be time to visit Iceland.</strong> Iceland is so chill, and everything looks
                        cool here. Also, we heard the people are pretty nice. What are you waiting for?</p>
                    <button class="cg nz ok">Buy a ticket</button>
                </div>
            </div>

            <div class="pz afo d-none vy">
                <div class="qa">
                    <h6 class="afh">Likes
                        <small>· <a href="#">View All</a></small>
                    </h6>
                    <ul class="bow box">
                        <li class="rv afa">
                            <img
                                    class="bos vb yb aff"
                                    src="img/avatar-fat.jpg">
                            <div class="rw">
                                <strong>Jacob Thornton</strong> @fat
                                <div class="bpa">
                                    <button class="cg nz ok">
                                        <span class="h ayi"></span> Follow
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="rv">
                            <a class="bpu" href="#">
                                <img
                                        class="bos vb yb aff"
                                        src="img/avatar-mdo.png">
                            </a>
                            <div class="rw">
                                <strong>Mark Otto</strong> @mdo
                                <div class="bpa">
                                    <button class="cg nz ok">
                                        <span class="h ayi"></span> Follow
                                    </button>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="qg">
                    Dave really likes these nerds, no one knows why though.
                </div>
            </div>

            <div class="pz bpm">
                <div class="qa">
                    © 2018 Bootstrap
                    <a href="#">About</a>
                    <a href="#">Help</a>
                    <a href="#">Terms</a>
                    <a href="#">Privacy</a>
                    <a href="#">Cookies</a>
                    <a href="#">Ads </a>
                    <a href="#">Info</a>
                    <a href="#">Brand</a>
                    <a href="#">Blog</a>
                    <a href="#">Status</a>
                    <a href="#">Apps</a>
                    <a href="#">Jobs</a>
                    <a href="#">Advertise</a>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/chart.js"></script>
<script src="js/toolkit.js"></script>
<script src="js/application.js"></script>
<script>
    // execute/clear BS loaders for docs
    // $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
</script>
</body>
</html>

