<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}

<body>

<div class="do axz">
    <div class="ayb">
        <form role="form" class="ahr avz j">

            <a href="/" class="l afv" style="margin-top: 20px">
                <img src="img/brand.png" alt="brand">
            </a>

            <div class="mu">
                <input class="form-control" placeholder="Username">
            </div>

            <div class="mu afh">
                <input type="password" class="form-control" placeholder="Password">
            </div>

            <div class="afv">
                <button class="cg nq">Log In</button>
                <button class="cg ns">Sign up</button>
            </div>

            <footer class="bqx">
                <a href="#" class="axc">Forgot password</a>
            </footer>
        </form>
    </div>
</div>


<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/chart.js"></script>
<script src="js/toolkit.js"></script>
<script src="js/application.js"></script>
<script>
    // execute/clear BS loaders for docs
    $(function () {
        while (window.BS && window.BS.loader && window.BS.loader.length) {
            (window.BS.loader.pop())()
        }
    })
</script>
</body>
</html>

