<div class="modal-content">
    <div class="d">
        <h5 class="modal-title">Messages</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>

    <div class="modal-body afx js-modalBody">
        <div class="axw">
            <div class="bow cj ca js-msgGroup">
                <a href="#" class="b rx">
                    <div class="rv">
                        <img class="us bos vb yb aff" src="img/avatar-fat.jpg">
                        <div class="rw">
                            <strong>Jacob Thornton</strong> and <strong>1 other</strong>
                            <div class="bpg">
                                Aenean eu leo quam. Pellentesque ornare sem lacinia quam &hellip;
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="b rx">
                    <div class="rv">
                        <img class="us bos vb yb aff" src="img/avatar-mdo.png">
                        <div class="rw">
                            <strong>Mark Otto</strong> and <strong>3 others</strong>
                            <div class="bpg">
                                Brunch sustainable placeat vegan bicycle rights yeah…
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="b rx">
                    <div class="rv">
                        <img class="us bos vb yb aff" src="img/avatar-dhg.png">
                        <div class="rw">
                            <strong>Dave Gamache</strong>
                            <div class="bpg">
                                Brunch sustainable placeat vegan bicycle rights yeah…
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="b rx">
                    <div class="rv">
                        <img class="us bos vb yb aff" src="img/avatar-fat.jpg">
                        <div class="rw">
                            <strong>Jacob Thornton</strong> and <strong>1 other</strong>
                            <div class="bpg">
                                Aenean eu leo quam. Pellentesque ornare sem lacinia quam &hellip;
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="b rx">
                    <div class="rv">
                        <img class="us bos vb yb aff" src="img/avatar-mdo.png">
                        <div class="rw">
                            <strong>Mark Otto</strong> and <strong>3 others</strong>
                            <div class="bpg">
                                Brunch sustainable placeat vegan bicycle rights yeah…
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="b rx">
                    <div class="rv">
                        <img class="us bos vb yb aff" src="img/avatar-dhg.png">
                        <div class="rw">
                            <strong>Dave Gamache</strong>
                            <div class="bpg">
                                Brunch sustainable placeat vegan bicycle rights yeah…
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="b rx">
                    <div class="rv">
                        <img class="us bos vb yb aff" src="img/avatar-fat.jpg">
                        <div class="rw">
                            <strong>Jacob Thornton</strong> and <strong>1 other</strong>
                            <div class="bpg">
                                Aenean eu leo quam. Pellentesque ornare sem lacinia quam &hellip;
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="b rx">
                    <div class="rv">
                        <img class="us bos vb yb aff" src="img/avatar-mdo.png">
                        <div class="rw">
                            <strong>Mark Otto</strong> and <strong>3 others</strong>
                            <div class="bpg">
                                Brunch sustainable placeat vegan bicycle rights yeah…
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="b rx">
                    <div class="rv">
                        <img class="us bos vb yb aff" src="img/avatar-dhg.png">
                        <div class="rw">
                            <strong>Dave Gamache</strong>
                            <div class="bpg">
                                Brunch sustainable placeat vegan bicycle rights yeah…
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="d-none afc js-conversation">
                <ul class="bow bpc">
                    <li class="rv bpf afo">
                        <div class="rw">
                            <div class="bpd">
                                Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla
                                vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit
                                amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed
                                posuere consectetur est at lobortis.
                            </div>
                            <div class="bpe">
                                <small class="axc">
                                    <a href="#">Dave Gamache</a> at 4:20PM
                                </small>
                            </div>
                        </div>
                        <img class="us bos vb yb afi" src="img/avatar-dhg.png">
                    </li>

                    <li class="rv afo">
                        <img class="us bos vb yb aff" src="img/avatar-fat.jpg">
                        <div class="rw">
                            <div class="bpd">
                                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non
                                commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent
                                commodo cursus magna, vel scelerisque nisl consectetur et.
                            </div>
                            <div class="bpd">
                                Vestibulum id ligula porta felis euismod semper. Aenean lacinia bibendum nulla sed
                                consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo
                                risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel
                                scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo.
                                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                            </div>
                            <div class="bpd">
                                Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Integer posuere
                                erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra
                                augue. Donec id elit non mi porta gravida at eget metus.
                            </div>
                            <div class="bpe">
                                <small class="axc">
                                    <a href="#">Fat</a> at 4:28PM
                                </small>
                            </div>
                        </div>
                    </li>

                    <li class="rv afo">
                        <img class="us bos vb yb aff" src="img/avatar-mdo.png">
                        <div class="rw">
                            <div class="bpd">
                                Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at
                                eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Etiam
                                porta sem malesuada magna mollis euismod. Morbi leo risus, porta ac consectetur ac,
                                vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur.
                            </div>
                            <div class="bpd">
                                Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus
                                posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula,
                                eget lacinia odio sem nec elit.
                            </div>
                            <div class="bpe">
                                <small class="axc">
                                    <a href="#">Mark Otto</a> at 4:20PM
                                </small>
                            </div>
                        </div>
                    </li>

                    <li class="rv bpf afo">
                        <div class="rw">
                            <div class="bpd">
                                Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla
                                vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit
                                amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed
                                posuere consectetur est at lobortis.
                            </div>
                            <div class="bpe">
                                <small class="axc">
                                    <a href="#">Dave Gamache</a> at 4:20PM
                                </small>
                            </div>
                        </div>
                        <img class="us bos vb yb afi" src="img/avatar-dhg.png">
                    </li>

                    <li class="rv afo">
                        <img class="us bos vb yb aff" src="img/avatar-fat.jpg">
                        <div class="rw">
                            <div class="bpd">
                                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non
                                commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent
                                commodo cursus magna, vel scelerisque nisl consectetur et.
                            </div>
                            <div class="bpd">
                                Vestibulum id ligula porta felis euismod semper. Aenean lacinia bibendum nulla sed
                                consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo
                                risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel
                                scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo.
                                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                            </div>
                            <div class="bpd">
                                Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Integer posuere
                                erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra
                                augue. Donec id elit non mi porta gravida at eget metus.
                            </div>
                            <div class="bpe">
                                <small class="axc">
                                    <a href="#">Fat</a> at 4:28PM
                                </small>
                            </div>
                        </div>
                    </li>

                    <li class="rv afo">
                        <img class="us bos vb yb aff" src="img/avatar-mdo.png">
                        <div class="rw">
                            <div class="bpd">
                                Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at
                                eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Etiam
                                porta sem malesuada magna mollis euismod. Morbi leo risus, porta ac consectetur ac,
                                vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur.
                            </div>
                            <div class="bpd">
                                Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus
                                posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula,
                                eget lacinia odio sem nec elit.
                            </div>
                            <div class="bpe">
                                <small class="axc">
                                    <a href="#">Mark Otto</a> at 4:20PM
                                </small>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>