<nav class="ck pt adq py tk app-navbar">

    <a class="e" href="/">
        <img src="img/brand-white.png" alt="brand">
    </a>

    <button
            class="pp bpn vm"
            type="button"
            data-toggle="collapse"
            data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="pq"></span>
    </button>

    <div class="collapse f" id="navbarResponsive">
        <ul class="navbar-nav ahq">
            <li class="pi active">
                <a class="pg" href="/">Home <span class="adt">(current)</span></a>
            </li>
            <li class="pi">
                <a class="pg" href="profile">Profile</a>
            </li>
            <li class="pi">
                <a class="pg" data-toggle="modal" href="#msgModal">Messages</a>
            </li>
            <li class="pi">
                <a class="pg" href="docs">Docs</a>
            </li>

            <li class="pi vm">
                <a class="pg" href="notifications">Notifications</a>
            </li>
            <li class="pi vm">
                <a class="pg" data-action="growl">Growl</a>
            </li>
            <li class="pi vm">
                <a class="pg" href="login">Logout</a>
            </li>

        </ul>

        <form class="nn acx d-none vt">
            <input class="form-control" type="text" data-action="grow" placeholder="Search">
        </form>

        <ul id="#js-popoverContent" class="nav navbar-nav acx aek d-none vt">
            <li class="pi">
                <a class="g pg" href="notifications">
                    <span class="h azy"></span>
                </a>
            </li>
            <li class="pi afb">
                <button class="cg bpo bpp boi" data-toggle="popover">
                    <img class="us" src="img/avatar-dhg.png">
                </button>
            </li>
        </ul>

        <ul class="nav navbar-nav d-none" id="js-popoverContent">
            <li class="pi"><a class="pg" href="#" data-action="growl">Growl</a></li>
            <li class="pi"><a class="pg" href="login">Logout</a></li>
        </ul>
    </div>
</nav>

