<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}

<body class="bob">

<div class="bon" id="app-growl"></div>

{% include "nav.html" %}

<div class="cd fade" id="msgModal" tabindex="-1" role="dialog" aria-labelledby="bpq" aria-hidden="true">
    <div class="modal-dialog">

        {% include "messages.html" %}

    </div>
</div>

<div class="by aha ahl">
    <div class="dp">
        <div class="fj">

            <div class="ca afo">
                <a href="#" class="b rx vb xn">
                    <span>Notifications</span>
                    <span class="h aye"></span>
                </a>
                <a href="#" class="b rx vb xn">
                    <span>Mentions</span>
                    <span class="h aye"></span>
                </a>
            </div>

            <div class="pz d-none vy afo">
                <div class="qa">
                    <h6 class="afh">Photos
                        <small>· <a href="#">Edit</a></small>
                    </h6>
                    <div data-grid="images" data-target-height="150">
                        <div>
                            <img data-width="640" data-height="640" data-action="zoom" src="img/instagram_5.jpg">
                        </div>

                        <div>
                            <img data-width="640" data-height="640" data-action="zoom" src="img/instagram_6.jpg">
                        </div>

                        <div>
                            <img data-width="640" data-height="640" data-action="zoom" src="img/instagram_7.jpg">
                        </div>

                        <div>
                            <img data-width="640" data-height="640" data-action="zoom" src="img/instagram_8.jpg">
                        </div>

                        <div>
                            <img data-width="640" data-height="640" data-action="zoom" src="img/instagram_9.jpg">
                        </div>

                        <div>
                            <img data-width="640" data-height="640" data-action="zoom" src="img/instagram_10.jpg">
                        </div>
                    </div>
                </div>
            </div>

            <div class="pz d-none vy">
                <div class="qa">
                    <h6 class="afh">Trending Searches
                        <small>· <a href="#">Change</a></small>
                    </h6>
                    <ul class="dc axg">
                        <li><a href="#">#Bootstrap</a>
                        <li><a href="#">Mdo for pres</a>
                        <li><a href="#">#fatsux</a>
                        <li><a href="#">#buyme</a>
                        <li><a href="#">#designishard</a>
                        <li><a href="#">#helpawesomepeople</a>
                        <li><a href="#">#doawesomestuff</a>
                        <li><a href="#">Tom Brady</a>
                        <li><a href="#">Magna Carta</a>
                        <li><a href="#">Mark Otto</a>
                        <li><a href="#">Dave Gamache</a>
                        <li><a href="#">Jacob Thornton</a>
                    </ul>
                </div>
            </div>
        </div>

        <div class="fm">
            <ul class="ca bow box afa">
                <li class="b agz">
                    <h4 class="aeh">Notifications</h4>
                </li>

                <li class="b rv agz">
                    <span class="h bfb axc aey"></span>

                    <div class="rw">
                        <small class="axc acx">1 min</small>
                        <div class="bpb">
                            <a href="#"><strong>Dave Gamache</strong></a> went traveling
                        </div>
                    </div>
                </li>

                <li class="b rv agz">
                    <span class="h bex axc aey"></span>

                    <div class="rw">
                        <small class="acx axc">3 min</small>
                        <div class="bpb">
                            <a href="#"><strong>Mark Otto</strong></a> played destiny
                        </div>
                    </div>
                </li>

                <li class="b rv agz">
                    <span class="h bnb axc aey yb"></span>

                    <div class="rw">
                        <small class="acx axc">34 min</small>
                        <div class="bpb afa">
                            <a href="#"><strong>Fat</strong></a> and <a href="#"><strong>1 other</strong></a> followed
                            you
                        </div>
                        <ul class="bol">
                            <li class="bom"><img class="us" src="img/avatar-fat.jpg">
                            <li class="bom"><img class="us" src="img/avatar-dhg.png">
                        </ul>
                    </div>
                </li>

                <li class="b rv agz">
                    <span class="h bao axc aey yb"></span>

                    <div class="rw">
                        <small class="acx axc">3 min</small>
                        <div class="bpb">
                            <a href="#"><strong>Dave Gamache</strong></a> uploaded a photo
                        </div>

                        <div class="boy" data-grid="images">
                            <img style="display: none" data-width="640" data-height="640" data-action="zoom"
                                 src="img/instagram_3.jpg">
                        </div>
                    </div>
                </li>

                <li class="b rv agz">
                    <span class="h bed axc aey yb"></span>

                    <div class="rw">
                        <small class="acx axc">3 min</small>
                        <div class="bpb">
                            <a href="#"><strong>Mark Otto</strong></a> flagged your post
                        </div>

                        <div class="pz aew">
                            <div class="qa">
                                <div class="rv">
                                    <img
                                            class="bos us aff yb"
                                            src="img/avatar-fat.jpg">
                                    <div class="rw">
                                        <div class="bpd">
                                            <div class="bpb">
                                                <small class="acx axc">1 hr</small>
                                                <h6>Jacob Thornton</h6>
                                            </div>
                                            Donec id elit non mi porta gravida at eget metus. Integer posuere erat a
                                            ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus
                                            et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo risus,
                                            porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet,
                                            consectetur adipiscing elit.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="b rv agz">
                    <span class="h bfn axc aey yb"></span>

                    <div class="rw">
                        <small class="acx axc">4 hr</small>
                        <div class="bpb afa">
                            <a href="#"><strong>Mark Otto</strong></a> and <a href="#"><strong>2 others</strong></a>
                            favorited your post
                        </div>
                        <ul class="bol">
                            <li class="bom"><img class="us" src="img/avatar-dhg.png">
                            <li class="bom"><img class="us" src="img/avatar-mdo.png">
                            <li class="bom"><img class="us" src="img/avatar-fat.jpg">
                        </ul>
                    </div>
                </li>

                <li class="b rv agz">
                    <span class="h bnb axc aey yb"></span>

                    <div class="rw">
                        <small class="acx axc">30 min</small>
                        <div class="bpb">
                            You followed <a href="#"><strong>Jacob Thornton</strong></a> and <a href="#"><strong>1
                            other</strong></a>
                        </div>

                        <div class="aew">
                            <div class="dp">
                                <div class="fm">
                                    <div class="pz bpi afa">
                                        <div class="qf" style="background-image: url(img/instagram_3.jpg);"></div>
                                        <div class="qa avz">
                                            <img class="bpj" src="img/avatar-fat.jpg">
                                            <h5 class="qb">Jacob Thornton</h5>
                                            <p class="afo">Big belly rude boy, million dollar hustler. Unemployed.</p>
                                            <button class="cg nz ok">
                                                <span class="h ayi"></span> Follow
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="fm">
                                    <div class="pz bpi afa">
                                        <div class="qf" style="background-image: url(img/instagram_1.jpg);"></div>
                                        <div class="qa avz">
                                            <img class="bpj" src="img/avatar-mdo.png">
                                            <h5 class="qb">Mark Otto</h5>
                                            <p class="afo">GitHub and Bootstrap. Formerly at Twitter. Huge nerd.</p>
                                            <button class="cg nz ok">
                                                <span class="h ayi"></span> Follow
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="b rv agz">
                    <span class="h bbr axc aey yb"></span>

                    <div class="rw">
                        <small class="acx axc">30 min</small>
                        <div class="bpb afa">
                            <a href="#"><strong>Jacob Thornton</strong></a> and <a href="#"><strong>1 other</strong></a>
                            updated their settings
                        </div>
                        <ul class="bol">
                            <li class="bom"><img class="us" src="img/avatar-fat.jpg">
                            <li class="bom"><img class="us" src="img/avatar-dhg.png">
                        </ul>
                    </div>
                </li>

                <li class="b rv agz">
                    <span class="h bci axc aey yb"></span>

                    <div class="rw">
                        <small class="acx axc">1 min</small>
                        <div class="bpb">
                            <a href="#"><strong>Jacob Thornton</strong></a> quit his job
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="fj">

            <div class="pz afo d-none vy">
                <div class="qa">
                    <h6 class="afh">Active Users
                        <small>· <a href="#">View All</a></small>
                    </h6>
                    <ul class="bow box">
                        <li class="rv afh">
                            <img
                                    class="bos bqy aff yb"
                                    src="img/avatar-fat.jpg">
                            <div class="rw">
                                <strong>Jacob Thornton</strong> @fat
                                <div class="bpa">
                                    <button class="cg nz ok">
                                        <span class="h ayi"></span> Follow
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="rv">
                            <img
                                    class="bos bqy aff bqz"
                                    src="img/avatar-mdo.png">
                            <div class="rw">
                                <strong>Mark Otto</strong> @mdo
                                <div class="bpa">
                                    <button class="cg nz ok">
                                        <span class="h ayi"></span> Follow
                                    </button>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="qg">
                    Dave really likes these nerds, no one knows why though.
                </div>
            </div>


            <div class="pz bpm">
                <div class="qa">
                    © 2018 Bootstrap
                    <a href="#">About</a>
                    <a href="#">Help</a>
                    <a href="#">Terms</a>
                    <a href="#">Privacy</a>
                    <a href="#">Cookies</a>
                    <a href="#">Ads </a>
                    <a href="#">Info</a>
                    <a href="#">Brand</a>
                    <a href="#">Blog</a>
                    <a href="#">Status</a>
                    <a href="#">Apps</a>
                    <a href="#">Jobs</a>
                    <a href="#">Advertise</a>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/chart.js"></script>
<script src="js/toolkit.js"></script>
<script src="js/application.js"></script>
<script>
    // execute/clear BS loaders for docs
    // $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
</script>
</body>
</html>

