<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}

<body class="bob">

<div class="cd fade" id="msgModal" tabindex="-1" role="dialog" aria-labelledby="bpq" aria-hidden="true">
    <div class="modal-dialog">

        {% include "messages.html" %}

    </div>
</div>

<div class="bon" id="app-growl"></div>

{% include "nav.html" %}

<div class="boq" style="background-image: url(img/iceland.jpg);">
    <div class="by">
        <div class="bor">
            <img class="us bos" src="img/avatar-dhg.png">
            <h3 class="bou">Dave Gamache</h3>
            <p class="bot">
                I wish i was a little bit taller, wish i was a baller, wish i had a girl… also.
            </p>
        </div>
    </div>

    <nav class="bov">
        <ul class="nav ph xm">
            <li class="pi">
                <a class="pg active" href="#">Photos</a>
            </li>
            <li class="pi">
                <a class="pg" href="#">Others</a>
            </li>
            <li class="pi">
                <a class="pg" href="#">Anothers</a>
            </li>
        </ul>
    </nav>
</div>

<div class="by afl" data-grid="images">
    <div>
        <img data-width="640" data-height="400" data-action="zoom" src="img/instagram_5.jpg">
    </div>

    <div>
        <img data-width="640" data-height="640" data-action="zoom" src="img/instagram_6.jpg">
    </div>

    <div>
        <img data-width="640" data-height="640" data-action="zoom" src="img/instagram_7.jpg">
    </div>

    <div>
        <img data-width="640" data-height="640" data-action="zoom" src="img/instagram_8.jpg">
    </div>

    <div>
        <img data-width="640" data-height="640" data-action="zoom" src="img/instagram_9.jpg">
    </div>

    <div>
        <img data-width="640" data-height="640" data-action="zoom" src="img/instagram_10.jpg">
    </div>

    <div>
        <img data-width="640" data-height="400" data-action="zoom" src="img/instagram_11.jpg">
    </div>

    <div>
        <img data-width="640" data-height="640" data-action="zoom" src="img/instagram_12.jpg">
    </div>

    <div>
        <img data-width="640" data-height="400" data-action="zoom" src="img/instagram_13.jpg">
    </div>

    <div>
        <img data-width="640" data-height="640" data-action="zoom" src="img/instagram_14.jpg">
    </div>

    <div>
        <img data-width="640" data-height="640" data-action="zoom" src="img/instagram_15.jpg">
    </div>

    <div>
        <img data-width="640" data-height="640" data-action="zoom" src="img/instagram_16.jpg">
    </div>

    <div>
        <img data-width="640" data-height="640" data-action="zoom" src="img/instagram_17.jpg">
    </div>

    <div>
        <img data-width="640" data-height="640" data-action="zoom" src="img/instagram_18.jpg">
    </div>

    <div>
        <img data-width="640" data-height="400" data-action="zoom" src="img/instagram_1.jpg">
    </div>

    <div>
        <img data-width="640" data-height="640" data-action="zoom" src="img/instagram_2.jpg">
    </div>
</div>


<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/chart.js"></script>
<script src="js/toolkit.js"></script>
<script src="js/application.js"></script>
<script>
    // execute/clear BS loaders for docs
    $(function () {
        while (window.BS && window.BS.loader && window.BS.loader.length) {
            (window.BS.loader.pop())()
        }
    })
</script>
</body>
</html>

